#job-description-content{
    p{
        border: 1px solid #caccd4; 
        padding: 10px; 
        width: 180px; 
        border-radius: 20px;
    }
}

.comments-container{
    display: inline-block; 
    width: 370px; 
    vertical-align:top; 
    margin-left: 32px; 
    margin-top:-30px; 
    height:auto;
    margin-bottom: 50px;

    #comments-list{
        #comment-content{
            font-size: 15px; 
            border-bottom: 1px solid grey; 
            padding-bottom:20px;
        }
    }

    form{
        #comment-input{
            width:280px;
        }
    }
}

#apply-button {
    height: 30px;
    width: 150px;
    font-size: 14px; 
    cursor: pointer; 
}

@media screen and (max-width:1324px){

	.comments-container{
        display: block;
        width: 900px;
        border-top: 1px solid black;
        padding-top:30px;
        margin-top:20px;

        #comments-list{
            width: 900px;
            #comment-content{
                padding-bottom:10px;
            }
        }

        form{
            #comment-input{
                width: 800px;
            }
        }
    }
}